/*Основной цвет текста #212121 */
/*Дополнительный цвет текста #757575*/
/*Белый цвет текста #FFFFFF*/
/*Акцент #2196F3  */
:root{--primary-text-color:#212121;
    --additional-text-color: #757575;
    --primery-white-color:#FFFFFF;
    --akcent-color:#2196F3;
    --additional-white-color: #F5F5F5;
     }
/* BODY */
body{
    font-family: Roboto,sans-serif ; 
    color:var(--primary-text-color);
    background-color:var(--primery-white-color); 
    font-size: 14px;
    width: 1600px;}

 h1,h2,h3,ul,p{margin:0; padding: 0;}
 img,a{display: block;}

.container{
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   padding-left: 15px;
   padding-right: 15px;
          }
.header{
 border-bottom: 1px solid #ECECEC;
 height: 80px;
}
 /* FLEX nav */
 .main-nav{
    display: flex;
    align-items: center;
 }
 .list.contact{
    display:flex;
    margin-left: auto;
 }
 .list.contact .item+.item{
    margin-left: 50px;
 }
 .list.nav{
    display: flex;
 }
 .list.nav .item:not(:last-child){
    margin-right: 50px;
 }
 /* FLEX edge */
 .list.edge{display: flex;
}
.edge .item{
    max-width: 270px;
}
.edge .item+.item{
    margin-left: 30px;
}


 /*LINKS*/
.link:hover{color:var(--akcent-color)}
.link{color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;}
.link.current{color: var(--akcent-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;} 
 .contact-link:hover{color:var(--akcent-color);}
 .contact-link {color:var(--additional-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;         
               }
/* LIST */
 .list{list-style: none;}
/* LOGO */
.logo{color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 92px;}
.web{color:var(--akcent-color);}
/* Hero */
.hero{background-color: #2F303A;
text-align: center; 
height: 600px;
padding-top: 200px;
padding-bottom: 200px;
}
.hero-title{ 
    color:var(--primery-white-color); 
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    }
.hero-button{
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    background-color: var(--akcent-color); 
    color: var(--primery-white-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height:1.88;
    letter-spacing: 0.06em;}
    /* SECTION*/
 .section-title{
    font-size: 36px;
    line-height:1.17;
    letter-spacing: 0.03em;
    margin-bottom:50px;
    text-align: center;}
 .list.activity{
    display: flex;
    margin-bottom: 95px;
    gap: 30px;}
    /* Section-edge */
.primary-edge{
    padding-top: 95px;
    padding-bottom: 95px;
}
 .edge-title{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        }
 .edge-text{
        color: var(--additional-text-color);
        line-height:1.71;
        letter-spacing: 0.03em;
        }
/* Section-team */
.section-team{
    padding-top: 95px;
    padding-bottom: 95px;
}
.list.team{
    display: flex;
    gap: 30px;}

.team-name{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
           }
.team-prof{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--additional-text-color);
    text-align: center;
    margin-bottom: 30px;
    }
    /* Footer */
 .footer{background-color: #2F303A;
         height: 252px;
        padding-top: 60px;
        padding-bottom: 60px;}
 .footer-logo{
        color:var(--primery-white-color);
        font-family: 'Raleway';
        font-size: 26px;
        line-height:1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        margin-bottom: 20px;
        }
  .footer-web{color:var(--akcent-color);}    
  .footer-adress{
        line-height:1.7;
        letter-spacing: 0.03em;
        color:var(--primery-white-color);
        font-style: normal;
        text-decoration: none;
        margin-bottom: 9px;}
 .footer-contact.mail {
    margin-bottom: 9px;
 }      
 .footer-contact{
        line-height:1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        text-decoration: none;}   
  .footer-contact:hover{color: var(--akcent-color);}       
        /* Filter */
 .filter-button{ 
        font-family: 'Roboto';
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;}
  .filter-button:hover{background-color:var(--akcent-color); color:var(--primery-white-color);}
   /* Portfolio List */
  .list-header{
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;}
  .list-text{
            font-size: 16px;
            line-height:1.88;
            letter-spacing: 0.03em;
            color:var(--additional-text-color);}
   .filter{
      height: 0;
      overflow: hidden;
      position: absolute;}